.main {
    max-width: 1000px;
    width: 90%;
    border-bottom: 1px solid #7c7c7c42;
    margin: 10px auto;

    .contenidoCentral {
        display: flex;

        .imgMain {
            width: 70%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 15px 0 0 15px;
            }

        }
        .datos{
            width: 50%;
            background: #ffffff;
            border-radius: 0 15px 15px 0 ;
        }
    }
}